body{
    background-color :black;
    color:white;
}
.principal{

    background-color:white;
    color:rgb(219, 4, 226);
    height:80px;
    padding:10px ;
    border-radius:30px ;
    width: 700px ;
    text-align: center;
}

a{
    color: white;
    background-color:dimgrey

}

.primario{
    background-color: blueviolet;
}